<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AppiumServer" value="http://127.0.0.1:4723/" />
        <add key="PlatformName" value="Android" />
        <add key="PlatformVersion" value="15.0" />
        <add key="DeviceName" value="Pixel_7" />
        <add key="AppPackage" value="com.google.android.apps.maps" />
        <add key="AppActivity" value="com.google.android.maps.MapsActivity" />
        <add key="AutomationName" value="UiAutomator2" />
        <add key="Browser" value="Chrome" />
    </appSettings>
    <!-- <appSettings> -->
    <!--     <add key="AppiumServer" value="http://127.0.0.1:4723/" /> -->
    <!--     <add key="PlatformName" value="iOS" /> -->
    <!--     <add key="PlatformVersion" value="17.2" /> -->
    <!--     <add key="DeviceName" value="iPhone 15 Pro Max" /> -->
    <!--     <add key="AppPackage" value="com.apple.Maps" /> -->
    <!--     <add key="AutomationName" value="XCUITest" /> -->
    <!--     <add key="Browser" value="Chrome" /> -->
    <!-- </appSettings> -->
</configuration>